@import url("style.css");

#submitSrc{
  text-align: right;
}

label {
  color: black;
  font-size: 1.1em;
  font-family: Georgia;
}

#searchForm {
  text-align: center;
}

.outerBox {
  background-color: white;
}
