@import url("style.css");


#Superior{/*SETTARE MEGLIO MARGINI PER EFFETTUA UNA RICERCA E CATEGORIA*/
  margin: 15px 0 10px 0;
  
  
}

#Superior{
  border-bottom:0.02em solid grey;
  margin-top:1.2em;
  padding-bottom:1.2em;
  
}

#Superior label {
  color:rgb(40, 103, 161);
  font-weight: 400;
}
#Superior h2{
  /*parte effettua ricerca*/
  color:rgb(40, 103, 161);
  padding: 0;
  text-align:left;
 /* width:80%;*/
  font-weight: 600;
  
  font-size: 18px;

}

.sx1{
  padding-left:3.5em;/*in modo che sia allineato logo*/
}

.dx1{
  width: 40%;
  float: right;
}

#Superior div{
  
  display:inline-block;
  
}


#Middle div{
  width: 50%;
  display:inline-block; 
}


.colSx{
  float:left;
}


/*
.colSx label{
  padding-left:7px;
}*/

#Titolo{
  padding-left:0.7em;
}

#Publisher{/*el allineati a editore*/
  padding-left:0em;
}

#Isbn{/*el allineati a editore*/
  padding-left:1em;
}

#Autore{/*el allineati a editore*/
  padding-left:2.9em;
}

#PChiave{
  padding-left:0em;
}

#Corso{/*el allineati a editore*/
  /*label*/
  padding-left:0em;
}













.colDx{
  float:right;
}


#Lower{
  float:right;
}

#Middle{
  text-align:center;
}

#submitSrc{
  text-align: right;
}

label {
  color: black;
  font-size: 1.1em;
  font-family: Georgia;
}



.outerBox {
  background-color: white;
}
