footer {
    background-color: white;
    color: black;
    text-align: center;
    border: 0.2em solid #aaa;

}

#footer-social li {
	float: center;
	display: inLine;
	padding: 0.5em;
	text-decoration: none;
}
#footer-social img{
	width: 2.2em;
	float: center;
	display: inline;
	overflow: hidden;
	border-radius: 50%;
}
#footer-social ul{
  	list-style-type: none;
 	overflow: hidden;
 	padding: 0.2em;
}
#facebook-icon {
 	background: #3B5998;
  	color: white;
}

#twitter-icon {
  background: #55ACEE;
  color: white;
}
#youtube-icon {
  background: #bb0000;
  color: white;
}

#instagram-icon {
  background: #125688;
  color: white;
}
#telegram-icon {
  background: #0088CC;
  color: white;
}
