header {
    background-image: url("/images/sfondo.jpg");
    background-color: rgb(18, 0,92);
    height: 5em;
    min-width: 900px;
    color: rgb(180,180,180);
    font-family: Arial;
    font-style: italic;
}

#logo_lumbooks {
    width: 4em;
    height: 4em;
}

#left_header {
    background-image: url("/images/sfondo.jpg");
    float: left;
}

#left_header h1, img {
    display: inline;
}

#left_header h1 {
    font-size: 3.5em;
    color: white;
    font-family: Georgia;
    font-weight: 100;
    font-style: normal;
}


#search-bar {
    float: right;
    margin-right: 0px;
    margin-top: 20px;
    background-image: url("/images/sfondo.jpg");
}


#navbar {
    background-image: url("/images/sfondo.jpg");
}

#navbar ul {
    background-image: url("/images/sfondo.jpg");
    }

#left_header h2 {
    font-size: 1.6em;
    color: rgb(180,180,180);
    font-family: Georgia;
    font-weight: 100;
    font-style: italic;
    display: inline;
}
