@import url("style.css");
/*PARTE HOME*/
/*.infobox {
    background-image: url("/images/bianca.png");
}*/

.outerBox div {
    max-width: 55%;
    display: inline-block;
    float: right;
    padding-right: 1.6em;
    color: rgb(128, 128, 128);
}

.outerBox h1 {
    font-size: 1.8em;
    font-family: Georgia;
    font-weight: 100;
    font-style: normal;
}

.outerBox img { /*non manipolata perche forse slide show*/
    max-width: 40%;
    padding-left: 1.8em;
   
    float: left;
    object-fit: fill;
}

.outerBox {
    padding-top: 1.8em;
    padding-bottom:1.8em;
    
    text-align: left;
    overflow: auto;
    
}

.hidden {
    visibility: hidden;
}


.innerBox {
    display: inline-block;
    padding: 5em;
    text-align: left;
}

    .innerBox input {
        margin-bottom: 1em;
    }
