@import url("style.css");
/*PARTE HOME*/
/*.infobox {
    background-image: url("/images/bianca.png");
}*/

#txContent {
    
    max-width: 45%;
   /* display: inline-block;*/
   /* float: right;*/
    padding-right: 1.6em;
    color: rgb(128, 128, 128);
}



#txContent,#student{
    display:inline-block;
}

.outerBox h1 {
    font-size: 2.2em;
    font-family: Georgia;
   /* font-weight: 550;*/
    font-style: normal;


    vertical-align: middle;
    line-height: 1.1em;
    letter-spacing: -0.02em;
    color:#03383ac9;
    font-family:Arial, Helvetica, sans-serif;
    
    
    
}

.outerBox img { /*non manipolata perche forse slide show*/
    max-width: 40%;
    padding-right:2.5em;
    float:right;
   
    object-fit: fill;
}



#txContent{
    padding-left:2em;
    padding-right:2em;
    text-align:center;
}

p {
   
    padding:0.7em 0em 1em 0em;
    font-size:1.3em;
}
.outerBox {
    padding-top: 1.8em;
    padding-bottom: 1.8em;
    text-align: left;
    overflow: auto;
    
}

.hidden {
    visibility: hidden;
}


.innerBox {
    display: inline-block;
    padding: 5em;
    text-align: left;
}

    .innerBox input {
        margin-bottom: 1em;
    }
