@import url("style.css");

.label-form-input {
    color: black;
    display: inline-block;
}


#loginForm {
    margin-left: 6%;
}


.testoinf {
    width: 24%;
    margin-left: 6%;
}

    .testoinf div {
        display: inline;
    }

form {
    width: 24%;
}

.inserimento {
    width: 24%;
    padding-left: 10px;
}

#loginSubmit, #registerSubmit {
    float: right;
}

#recuperoPsw {
    font-size: 0.63em;
}



.formText {
    border: 0.1em solid #111;
}

.errorBox {
    border-color: red;
}
