@import url("style.css");

.outerBox{
  padding: 30px;
  text-align: center;
}

.innerBox{
  display: inline-block;
  padding: 3.12em;
}

#loginSubmit, #registerSubmit{
  float: right;
}

#recuperoPwd{
  font-size: 0.63em;
}
