nav ul {
  font-size: 1.1em;
  display:flex;
  font-family: Georgia;
  list-style-type: none;
  background-color: rgb(18,0,92);
  color: white;
  overflow: hidden;
  padding-left: 0;
  min-width: 25em;
}

nav li{
display: flex;
padding: auto;
float: left;
margin: 0em;
}

nav li a {
 display: block;
 color: white;
 text-align: center;
 padding: 0.7em;
 margin:auto;
 text-decoration: none;
 overflow:hidden;
  white-space: nowrap;

}

nav li.nav{
height: 2em;
min-width: 5em;
width: 40%;
vertical-align: middle;
margin:auto;
padding: inherit;

}

nav li input[type=text]{
width: 100%;
border-radius: 1em;
padding-left: 1em;
}




.right{
float: right;
}

nav li:hover:not(.active){
background-color: #754b00;
}

.active{
background-color: black;
}

.activeR{
background-color: black;
float: right;
}

/*Per rendere la casella della pagina corrente sempre attiva
bisogna fare qualche magicheria in js, per marcare il li
della pagina attiva con la classe active*/
/*.active {
background-color: #4CAF50;
}*/
