nav ul {
    font-size: 1.1em;
    font-family: Georgia;
    list-style-type: none;
    background-color: rgb(18,0,92);
    color: white;
    overflow: hidden;
    padding-left: 0;
}

nav li{
  display: inline;
  padding: auto;
  float: left;
}

nav li a {
   display: block;
   color: white;
   text-align: center;
   padding: 0.7em;
   text-decoration: none;
}

.right{
  float: right;
}

nav li:hover:not(.active){
  background-color: #754b00;
}

.active{
  background-color: black;
}

.activeR{
  background-color: black;
  float: right;
}

/*Per rendere la casella della pagina corrente sempre attiva
  bisogna fare qualche magicheria in php, per marcare il li
  della pagina attiva con la classe active*/
/*.active {
  background-color: #4CAF50;
}*/
