* {
    margin: 0;
    padding: 0;
}

/*////////////// Struttura generale //////////////*/
html {
    height: 100%;
}
body {
    background-color:#d4d1d180;/*     #fff;*/
    text-align: left;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 1.42857;
    display: flex;
    height: 100%;
    width: 100%;
    position:relative;
}

header {
    position: relative;
    padding:0.4em 0.2em;
    background-color:#fafafa;
    color: rgb(30, 59, 112);
    font-family: Arial;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
    justify-content: space-between;
}  
h1{
    font-weight: 250;
    font-size: 1.9em;
    color: #000000;
    position: relative;
    vertical-align: middle;
}
  
h2{
    font-weight: 500;
    font-size: 1.7em;
    color: #023956;
   /* padding-left: 0.5em;
    padding-top:0.5em;*/
  
}
.bar1, .bar2, .bar3 {
    width: 2.625em;
    height: 0.375em;
    background-color: #333;
    margin: 0.45em 0;
    display: block;
}

header *{
    display: inline-block;    
}

#logo_lumbooks {
    height: 2em;
    margin-left:1em;
    vertical-align: middle;
}

#header_login {
    position: absolute;
    right: 1em;
    top: 0.8em;
}
header a{
    padding: 0 0.5em;
}
.login_icon{
    width: 2.2em;
    padding:0 0.5em;
}

.button{
    background-color: #0277bd;
    color:white;
    text-decoration: none;
    
    margin-left: 0.3em;
    font-weight: 500;
    
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
    padding: 0.2em 0.3em;
    border: 3px solid transparent;
    border-radius: 4px;
    float: right ;
}

.button:hover, .internal-button:hover{
    color: #f0e9e9;
    background-color: rgb(48,100,153);
}

.internal-button{
    cursor: pointer;
    font-weight: 450;
    padding: 0.2em 0.3em;
    float: initial;
    margin-left:0;
}

/*//////////////// nav ///////////////////*/
nav {
    width: 17em;
    /*background-color: #c7c7c7;*/
    box-shadow: 3px 2px 4px rgba(0, 0, 0, .3);
    position: relative;
    text-align: center;
}

ul {
    list-style: none;
    text-decoration: none;
}

#profile_pic {
    object-fit: cover;
    width: 7em;
    height: 7em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border: 0.5em solid white;
}

/* da desktop non serve nascondere la navbar */
#openNavButton {
    display: none;
    margin-left: 1em;
    vertical-align: middle;
}

nav #stdbar li a{
    display: block;    
    padding: 1.2em;
    height: 100%;
    background-color:#fafafa;
    text-decoration: none;
    
}


nav ul li a:visited{
    color: auto;
}
nav #stdbar li a:hover{
    background-color: #0277bd;
    color: white;   
}

nav #stdbar li a:active{
    background-color:rgb(48,100,153);
    color: white;   
}


nav #stdbar li {
    margin: 1px 0;

    
}

#nav_user {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #0277bd ;
    text-align: center;
    color:white;
}

.user_data_link {
    color: white;
    height: 100%;
    display: inline-block;
    width: 48%;
    line-height: 300%;
}

#user_name{
    font-size:25px;
}

.user_data_link:hover{
    color: black;
    background-color: white;   
}

.user_data_button {
    height: 3em;
}

#userImage{
    height: 8em;
    width: 8em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.closeNav{
    visibility: hidden;
    height: 0em;
}



/*////////////////////////////// map position ////////////////////////////// */
#map-position {
    background-color: #0277bd ;
    padding:0.7em;
    color:white;

}

/* /////////////////// main  ////////////////////////// */
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*///////////////// content ///////////////////////*/
section{
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
    min-width: 30%;  
}


/*///////////////// footer ///////////////////////*/
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: black;
    background:#fafafa;
    font-size:0.95em;
   
}

#footer-social li {
    float: center;
    display: inLine;
    padding: 0.5em;
    text-decoration: none;
}

#footer-social img {
    width:2.2em;
    display: inline;
    border-radius: 10%;
}

#footer-social ul {
    list-style-type: none;
    padding: 0.2em;
  }

  .footer_link {
    color:black;
    background-color: #fafafa;
  }

  #facebook-icon {
      background: #3B5998;
      color: white;
  }

  #twitter-icon {
      background: #55ACEE;
      color: white;
  }

  #youtube-icon {
      background: #bb0000;
      color: white;
  }

  #instagram-icon {
      background: #125688;
      color: white;
  }

  #telegram-icon {
      background: #0088CC;
      color: white;
  }

  .footer_link{
    display: block;
  }





/*///////////////////////// inserisci ////////////////*/

.outerBox select,.outerBox input, textarea#insertDescrizione{
    display: block;
    padding:0.3em 1% 0.3em 1%;
    border: 1px solid grey;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .3);
    border-radius: 2px;
    
}

textarea#insertDescrizione{
    width:60%;
}

#content-top{
    padding-top:1.2em;
    padding-bottom:1.2em;
}

#content-top h1{
    padding-left: 1.5em;
    padding-top:0.5em;
}

.content-mid,#registerForm{
    padding: 1em 10%;
}

.content-mid div {
    width: 100%;
}

.outerBox  label,select,input{

    display:inline-block;
}



.outerBox  label{
    width:30%;
    padding:1em 0.4em 0 0;
    text-align:right;
}

#submitSrc, #insertSubmit {
    margin:0.8em 50%;

 }


.outerBox  input[type="text"],
.outerBox  input[list="titleInput"],
.outerBox  input[type="date"],
.outerBox  input[type="email"],
.outerBox  input[type="password"],
.outerBox  input[type="file"],
textarea#insertDescrizione,
.outerBox  select
{
    display: inline-block;
    box-sizing: content-box;
    width:60%;
    background-color:white;
}
.outerBox input[type="radio"]{
  display: inline-block;
}

#loginForm input{
  display: block;
  
}

textarea#insertDescrizione{
    vertical-align: top;
    margin-top: 1em;
    max-width: 60%;
    height: 10em;
}

#registerSubmit,#loginSubmit {
    margin:auto;
 }
 .hidden{
    /* non togliere */
    display: none !important;
}


/*////////////////////////////// <about.html> ////////////////////////////// */
#about-us, #about-project {
    /*border-top: 3px double #ccc;*/
    padding-left: 1.5em;
    padding-top: 0.5em;
  }
  #about-us dt {
    float: left;
    clear: left;
    max-width: 6em;
    min-height: 5em;
    text-align: center;
    font-weight: bold;
    color: #083b59;
  }
  
  #about-us dd {
    margin-left: 7em;
    padding: 0.5em 0 0.5em 0;
    min-height: 5em;
  }
  
  #about-us dt img{
    width: 70%;
    height: 70%;
   
  }
  
  
  
  /* /////////////////// <pagina libro> ////////////// */
  #bookBox{
  	position: relative;
    display: flex;
    flex-direction: column;
    margin: 3% auto;
    max-width: 80%;
    background-color: #fafafa;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, .4);    }
    
    dd#Prezzo::after {
        content: "€";
    }

  #info_book{
    padding: 1em 0;
  }
  
  #info_book dt,#info_book dd {
    float: left;
    margin-bottom: 1em;
  }
  #info_book dt {
    clear:both;
    font-weight: bold;
  }
  #info_book dd {
    margin-left: 0.4em;
  }
  #bookBox .bookImg{
    max-width: 80%;
    margin: auto;
    padding: 0.2em;
    border: 1px solid #ddd;
    margin-bottom: 2em;
  }

  #vendor_info{
    width: fit-content;
    height: 5em;
    box-shadow: 0.2em 0.1em 1em black;
    border-radius: 0.3em;
    position: absolute;
    top: 0;
    right: 0;
    margin: 3em;
  }

  #vendor_pic{
    height: inherit;
    display: inline-block;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    object-fit: cover;
  }

  #vendor_data{
    display: inline-block;
    position: relative;
    bottom: 2em;
    margin-left: 0.1em;
    margin-right: 0.5em;
  }


  /* <acquista> */
  img.libro, .libro_fake{
    height: 10em;
    width: 8em;
    object-fit: cover;
    position: absolute;
    top: 0em;
    right: 0em;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
  }

  .books_collection{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: center;
  }

  .search_item{
    float:none;
    width: 18em;
    position: relative;
    height: 10em;
    background-color: #fafafa;
    margin: 0.5em;
    /* border: 2px solid rgba(128, 128, 128, 0.582); */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 0.3em;
  }
  .search_spec{
      width: 10em;
  }
  
  .search_item .Prezzo{
      color: #B12704;
      font-weight: bold;
      font-size: 1.3em;
  }
  .search_item .Prezzo:before{
        content: "€";
  }

  .search_item p{
      margin-left: 0.5em;
      text-transform: capitalize;
  }
  .search_item a{
      font-weight: 600;
      display: block;
      margin-left: 0em;
      padding-left: 0.5em;
      padding-top: 0.5em;
  }

  .search_item .ISBN{
     color: grey;
  }

.sc_button{
    height: 2em;
    width: 5.5em;
    border-radius: 0.3em;
    background: #0276be;
    color: white;
    border: none;
    cursor: pointer;
  }

li.search_item.with_bt {
    height: 12em;
}
.sc_form{
    position: absolute;
    bottom: 0.0em;
    width: 100%;
    text-align: center;
}

#filter-tool{margin:1% auto;}

  .libro_fake{
    line-height: 7em;
    text-align: center;
    background-color: #0277bd;
    color: white;
}


  /* /////////////////// <pagina dati> ////////////// */
  .box-spacer{
    display: block ;
    width: 100% ;
  
    border: 1px solid black ;
    box-sizing: border-box ;
    padding: 1em ;
    margin:  0.6em 0 0.6em 0 ;
    float: left;
    position: relative ;
  }
  
.subtitle{
    font-weight: 600 !important;
    font-style:bold;
}

legend{
text-align: center;
}
fieldset{
	padding: 0.3em 0.5em 0.5em 0.5em;
}

#proj  {
    margin-top: 0.5em;   
}

#loginForm{
    padding:2.5em;
}
#loginBox,#registerBox,#searchBox,
#insertBox,#catalogueBox, #aboutBox,
#dataBox,.mostra-libri{
    display: flex;
    flex-direction: column;
    margin: 3% auto;
    max-width:40em;
    background-color: #fafafa;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, .4);   
}

.mostra-libri{
    padding-left: 1em;
    max-width: 80%;
}

.mostra-libri h2{
    text-align: center;
}

#catalogueBox{ 
    max-width:80%;
}
#aboutBox{ max-width:80%;}

#loginBox.h1{
    text-align: center;
}
#loginEmail, #inputPsw{
   width:95%;
}

#loginSubmit{
    margin-top:0.3em;
    
}

#loginError, .errorLine {
    text-align: center;
    background: #c13636;
    width: 100%;
    color: white;
    box-shadow: 0px 1px 2px 1px grey;
    padding: 0.3em 0em 0.3em 0em;
}

.errorLine{
    margin-bottom: 0.2em;
}




/*////////////////////////////// <home.html> ////////////////////////////// */

#txContent{
    padding: 1em;
    color: rgb(83, 83, 83); 
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
    background-color:white;
}

#txContent h2 {
    color: #034b72;
    margin:auto;
    font-size: 2.5em;
    
}

#txContent p {
    margin:2.5em auto 2.5em auto;
    font-size: 1.5em;
}


#mainPageBooks h2{
    text-align: center;
}

.mainbook{
    margin:auto;
    text-align: center;
    padding:1em;
    display:inline-block;
}

p.required {
    font-size: 0.8em;
    color: #4d4d4d;
    font-style: italic;
}

/* BREAKPOINTS */

@media only screen and (max-width: 1100px) {


  #txContent{
    max-width:100%;
    text-align:left;
  }
}


@media only screen and (max-width: 1100px) {
    *{
        font-size: 1.35rem;
    }
    
    #openNavButton {
        display: inline-block;
    }

    nav{
        width: 0%;
        visibility: hidden;
        z-index: 1;
        position: absolute;
        height: 100%;
        background-color: white;
        overflow-y: scroll; 
    }

    .showNavbar{
        display: inline-block;
        visibility: visible;
        width: 100%;
    }

    /* bottoni per aprire e chiudere la navbar: */    
    .closeNav{
        height: 3em;
        visibility: visible;
    }

    #close {
        width: 2em;
        height: 2em;
        position: absolute;
        top:0.5em;
        right:0.5em;
    }
    #close:hover {
        cursor: pointer;
    }
    #close:after {
        content: '';
        height: 2em;
        border-left: 0.4em solid #1076bc;
        position: absolute;
        transform: rotate(45deg);
    }
    
    #close:before {
        content: '';
        height: 2em;
        border-left: 0.4em solid #1076bc;
        position: absolute;
        transform: rotate(-45deg);
    }

    #bookBox,#loginBox,#registerBox,#searchBox,
    #insertBox,#catalogueBox, #aboutBox,
    #dataBox,.mostra-libri,#outerbox,section{
        max-width: none;
        padding: 1em;
        margin: 0em;
    }
    section{
        padding: 0em;
    }
    #vendor_info{
        position: initial;
        margin: 0;
    }
    .content-mid,#insertBox,#registerForm{
        padding:0;
        margin: 0;
    }

  }
