/*GENERALI*/
* {
    margin: 0;
}



body {
    /*PROPIET� BACKGROUND*/
    background-color: #00576d5b;
    /*RIEMPIMENTO*/
    border: 0px;
    padding: 0;
    position: relative;
    /*PROPRIETA' TX*/
    text-align: left;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 1.42857;
}
a{
  text-decoration: none;
}
.outerBox,.innerBox {
    max-width: 1100px;
    background-color: #f9f9f9;
    margin: auto;
}
.outerBox {
    box-shadow: 2px 3px 4px rgba(0, 0, 0, .2);
}
h1{
  font-weight: 600;
  font-size: 2em;
}


h2{
  font-weight: 500;
  font-size: 1.7em;
}

ul{
  list-style-type: none;
}

img{
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

input[type="submit"],button{
  cursor: pointer;
}

#map-position{
  font-weight: 100;
  font-size: 1em;
  color: grey;
}

/*PARTE HEADER*/
header {
    background-color:#00576d;
    padding: 0 1%;
    min-width: 480px;
    color: rgb(180,180,180); /*colore default grigio*/
    font-family: Arial;
    font-style: italic;
}

header *{
  display: inline-block !important;
}

#logo_lumbooks {
    width: 2.7em;
    height: 2.7em;
}


#left_header h1 {
    font-size: 2.3em;
    color: white;
    font-family: Georgia;
    font-weight: 100;
    font-style: normal;
}






/*PARTE NAVBAR*/
#navbar{
  background-color:#00586d;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav ul, #header_login {

   /* border-bottom-color: grey;*/
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal ;
    list-style-type: none;
    min-width: 25em;
}

nav li, #header_login a {
    display: inline-block;
    /*border-right: 2px solid #42b5b2;*/
    height:100%;
}

nav li:first-child{
 /*border-left: 1px solid #42b5b2;*/
}

#header_login{
  min-width: 4em;
  float:right;
}

#search-bar{
    padding: 0 1em 0.4em 0;
    width: 30%;
    height: 100%;
    float:right;
}

#search-bar input{
    padding: 0.35em;
}

#search-bar input[type="text"]{
    width: 70%;
    font-family: Georgia;
    font-size: 0.9em;
    text-rendering: optimizeLegibility;
    text-align: left;
    border: 0.1em solid black;
    color: black;
    border-right: 0;
    height: 100%;
    border-radius: 0.3em;
}

#search-bar input[type="submit"]{
  background-color: white;
  border: 0.1em solid black;
  border-radius: 0.3em;
  background-color: #ff9021;
  height: 100%;
}


nav li a, #header_login a {
    color:#f2fcfa;
    text-align: center;
    padding: 0.4em 1em;
}

#header_login a {
  color:#f2fcfa;
  border-right: 0;
  text-align: center;
}

a:visited{
  color:#addbd2;
}
nav li:hover:not(.active),#header_login a:hover:not(.active) {
    background-color: #03383a;
}

 .right {/*vedere come posizionare login e reg*/
    float: right;
}

.nav input{
  width:13em;
}

.active {
    background-color: black;
}

.activeR {
    background-color: black;
    float: right;
}

/*Per rendere la casella della pagina corrente sempre attiva
bisogna fare qualche magicheria in js, per marcare il li
della pagina attiva con la classe active*/
/*.active {
background-color: #4CAF50;
}*/



/*PARTE FOOTER*/
footer {
    color: black;
    text-align: center;
    margin-top: 0px;
    border: 0px;
    color: rgba(255, 255, 255, 0.774);
    padding-top:1.5em;
    margin-bottom: 0px;
    background-color:#00586d;
    width: 1100px;
    margin: auto;
    height: 10em;
    clear: both;
}


#footer-social li {
    float: center;
    display: inLine;
    padding: 0.5em;
    text-decoration: none;
}

#footer-social img {
    width: 2.2em;
    float: center;
    display: inline;
    border-radius: 10%;
}

#footer-social ul {
    list-style-type: none;
    padding: 0.2em;
  }

  #facebook-icon {
      background: #3B5998;
      color: white;
  }

  #twitter-icon {
      background: #55ACEE;
      color: white;
  }

  #youtube-icon {
      background: #bb0000;
      color: white;
  }

  #instagram-icon {
      background: #125688;
      color: white;
  }

  #telegram-icon {
      background: #0088CC;
      color: white;
  }

/*PAGINA CERCA LIBRO E REGISTRATI*/
.outerBox select,.outerBox input{
    display: block;
    padding:0.3em 1% 0.3em 1%;
    border: 1px solid grey;
    border-radius: 2px;
}

#content-top{
    padding-top:1.2em;
    padding-bottom:1.2em;
}

#content-top h1{
    padding-left: 1.5em;
    padding-top:0.5em;
}

#content-mid,#registerForm{
    padding: 1em 18% 1em 18%;
}

#content-mid div {
    width: 100%;
}

.outerBox  label,select,input{

    display:inline-block;
}



.outerBox  label{
    width:20%;
    padding:1em 0.4em 0 0;
    text-align:right;
}

#submitSrc, #insertSubmit {
    margin:0.8em 50%;

 }


.outerBox  input[type="text"],
.outerBox  input[list="titleInput"],
.outerBox  input[type="date"],
.outerBox  input[type="email"],
.outerBox  input[type="password"],
.outerBox  input[type="file"],
.outerBox  select
{
    display: inline-block;
    box-sizing: content-box;
    width:70%;
}
.outerBox input[type="radio"]{
  display: inline-block;
}


#registerSubmit {
    width:7em;
    margin-left:20em;
    margin-top:0.8em;
    margin-bottom:0.3em;
 }

/*PAGINA LOGIN*/
#superior {
    float:left;
    padding: 1.8em 7em 1.8em 7em;
}

.inserimento {
    padding-top: 1.8em;
    width: 40%;
    border-left: 1px solid grey;

}

#recuperoPsw {/*link registrati, pw dim*/
    font-size: 0.9em;
}

#loginBox div {
    display:inline-block;
}

.formText{
    margin-bottom: 0.7em;

}

.inserimento form{
    width: 50%;
}

#loginSubmit {
    margin:1em 4.3em 1em 7.3em;
    float:right;
}

.errorBox {
    border-color: red;
}
.inserimento label{
    width:auto;
}


.hidden{
  /* non togliere */
  display: none !important;
}

/* <inserisci.html> */
#input_libri #content-mid p{
  display: inline-block;
}

/* <risultati_ricerca.html> */
.book_with_image {
  width:100%;
  border-bottom: solid 0.01em grey;
}


.libro {
    height: 10em;
    width: 8em;
    margin: 0.5em;
    border: 1px solid grey;
    border-radius: 0.2em;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

.fake.libro{
    line-height: 10em;
    text-align: center;
    background-color: #25576d;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    color: white;
}

.book_with_image img{
    object-fit: cover;
}

.desc_container{
    width: 60%;
    display: inline-block;
}

.book_with_image .search_item{
  width: 100%;                      /* se nessuno di quelli sotto è supportato */
    width: -moz-available;          /* mozzilla */
    width: -webkit-fill-available;  /* chrome */
    width: fill-available;
}



.desc_container{
    margin-top:0.1em;
}

.item_spec {
    font-weight: bold;
    color: black;
}

.item_name{
    color: #0072c1;
    font-weight: bold;
    font-size:1.3em;
}

.item_name:hover{
    color:orange;
}


#filter-tool{
  padding: 0.5em 0 0.5em 1%;
}

/* <utente.html> */
.mostra-libri {
    width:30%;
    display:inline-block;
}

.mostra-libri div{
  padding: 0.5em;
}

#stato-libri {
    padding:1em 2% 1em 2%;
    display: flex;
    justify-content: space-between;
    background-color: #f7f7f7;
}

.boxx {
  display: flex;
  justify-content: space-between;
}

#stato-libri button {
  display: block;
  margin-top: 0.6em;
  width: 7em;
  height: 1.8em;
  border: 0;
  background-color: #00576d;
  color:white;
}

#stato-libri button:hover{
  background-color: #006b87;
}

#mostra-libri{
  padding-top: 1em;
}

.boxx .search_item {
  width: 100%;
  border-bottom: 1px solid grey;
}
.boxx form{
  border-bottom: 1px solid grey;
}

.stato-libri a{
  color: #1a0dab;
}

.boxx .search_item .item_name a:visited{
  color: #609;
}

.mostra-libri h1{
  font-size: 1.7em;
  text-align: center;
}
.account{
  padding-left: 4%;
}
#datiPersonali li label{
  text-align: right;
  width: 7em;
  padding-right: 1em;
}

/*////////////////////////////// <about.html> ////////////////////////////// */
#about-us {
  border: 3px double #ccc;
  padding: 0.5em;
}
#about-us dt {
  float: left;
  clear: left;
  max-width: 6em;
  min-height: 5em;
  text-align: right;
  font-weight: bold;
  color: #083b59;
}

#about-us dd {
  margin-left: 7em;
  padding: 0.5em 0 0.5em 0;
  min-height: 5em;
}

#about-us dt img{
  width: 100%;
  height: 100%;
}

/* ///////////////////// <login> //////////////////*/
#loginBox .testoInformativo {
  text-align: center;
}

#loginBox .testoInformativo #recuperoPsw{
  display: block;
  padding-top: 2em;
  font-size: 1.2em;
}
/* /////////////////////////////// Small screen ////////////////////////// */

@media only screen (max-width: 920px) {
  #search-bar{
    display: none;
  }
  ul[id="stdbar"]{
    padding-left:0;
  }

  #stato-libri button{
    width: 6em;
  }
}

@media only screen and (max-width: 590px) {
  #stato-libri{
    display: block;
  }

  .mostra-libri{
    display: block;
    width: 100%;
  }

  #search-bar{
    width: 100%;
    padding: 0.3em 0.5em;
  }
  #navbar {
    display: flex;
    justify-content: center;
  }
  ul[id="stdbar"]{
    display: none;
  }


  #header{
      min-width: auto;
      display: flex;
      justify-content: space-between;
  }
  #left_header h1 {
      display: none !important;
  }

  /*////////////////////////////// small <about.html> ////////////////////////////// */
  #about-us dd {
    margin-left: 0;
  }
  #about-us dt{
    float:none;
    text-align: left;
  }

  /*////////////////////////////// small <registrati.html> ////////////////////////////// */
  .outerBox  input[type="text"],
  .outerBox  input[list="titleInput"],
  .outerBox  input[type="date"],
  .outerBox  input[type="email"],
  .outerBox  input[type="password"],
  .outerBox  input[type="file"],
  .outerBox  select
  {
    display: block !important;
    padding: 0.3em;
    width: 90%;
  }
  #registerForm{
    padding: 5% 0.5em 5% 2em;
  }
  #registerSubmit{
    width: auto;
    padding: 0.6em;
    margin: 1em;
  }
  .innerBox label{
    width: auto;
    text-align: left;
  }


}
