@import url("style.css");


.mostra-libri {
    width:30%;
    display:inline-block;
}

.mostra-libri div{
  padding: 0.5em;
}

#stato-libri {
    padding:1em 2% 1em 2%;
    display: flex;
    justify-content: space-between;
    background-color: #f7f7f7;
}

.boxx {
  display: flex;
  justify-content: space-between;
}

#stato-libri button {
  display: block;
  margin-top: 0.6em;
  width: 7em;
  height: 1.8em;
  border: 0;
  background-color: #00576d;
  color:white;
}

#stato-libri button:hover{
  background-color: #006b87;
}

#mostra-libri{
  padding-top: 1em;
}

.search_item {
  width: 100%;
  border-bottom: 1px solid grey;
}
.boxx form{
  border-bottom: 1px solid grey;
}

.stato-libri a{
  color: #1a0dab;
}

.boxx .search_item .item_name a:visited{
  color: #609;
}

.mostra-libri h1{
  font-size: 1.7em;
  text-align: center;
}

.account{
  padding-left: 4%;
}

#datiPersonali li label{
  text-align: right;
  width: 7em;
  padding-right: 1em;
}
